{% load static %}
<!--
==================================================
Call To Action Section Start
================================================== -->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">SO WHAT YOU THINK ?</h1>
                    <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Please give me your feedback! I'm eager to know what you think about my portfolio.<br>Do not hesitate to contact me for anything!</p>
                    <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Contact Me</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
==================================================
Footer Section Start
================================================== -->
<footer id="footer">
    <div class="container">
        <div class="row content-justify-between">
            <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                <p class="copyright">Back-End done with Django Framework by <a href="https://github.com/gbavieira" target="_blank">gbavieira</a> <br> 
                    Copyright: Design and Front-End by <a href="http://www.Themefisher.com" target="_blank">Themefisher</a>. <br> 
                    Get More Bootstrap Template From Our 
                    <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank">Store</a> <br>
                </p>
            </div>
            <div class="col-md-4 col-12">
                <!-- Social Media -->
                <ul class="social text-center text-md-right text-lg-right">
                    <li>
                        <a href="https://www.linkedin.com/in/gabriel-vieira-b1224843/" class="Linkedin">
                            <i class="ion-social-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/gbavieira" class="Github">
                            <i class="ion-social-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer> <!-- /#footer -->