{% extends "base.html" %}
{% block content %}
{%load static %}
{% include 'partials/_header_calculadora.html' %}

<section id="resultado">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="block wow fadeInUp" data-wow-delay=".3s">
          <!-- Slider -->
          <section class="cd-intro">
            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
              <span>Resultado da Calculadora Básica:</span><br>
            </h1>
          </section> <!-- cd-intro -->
          <!-- /.slider -->
          <div class="resultado">
            <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
              <p>
                <h2 style="font-size:xx-large;" bold="bold">DADOS DO CLIENTE</h2>
                <p class="resultado">Nome: {{ form.nome.value }} </p>
                <p class="resultado">E-mail: {{ form.email.value }} </p>
                <p class="resultado">Concessionária: {{ form.concessionaria.value }}</p>
                <p class="resultado">Modelo Selecionado: {{ form.modelo.value }}</p>
                <p class="resultado">Desnível: {{ form.desnivel.value }} m</p>
                <p class="resultado">Vazão: {{ form.vazao.value }} L/s</p>
                <br>
                <h2 style="font-size:xx-large;" bold="bold">DADOS DO CÁLCULO</h2>          
                <p class="resultado">Quantidade de Potência: {{ potencia }} W </p>
                <p class="resultado">Quantidade de MCHs Sugeridas: {{ mchs }} </p>
              </p>
            </h2>
          </div>
          {% include 'partials/_botoes.html' %}
        </div>
      </div>
    </div>
  </div>
</section>





{% include 'partials/_footer_calculadora.html' %}
{% endblock %}