{% extends "base.html" %}
{% block content %}
{% include 'partials/_header_calculadora.html' %}


<section id="basica_resultado">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="block wow fadeInUp" data-wow-delay=".3s">
          <!-- Slider -->
          <section class="cd-intro">
            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
              <span>Resultado da Calculadora Básica:</span><br>&ensp;<br>
            </h1>
          </section> <!-- cd-intro -->
        </div>
      </div>
    </div>
  </div>
</section>






<section>
<table>
  <div>
    Nome:
    {{ form.nome.value }} <br>

    Desnível:
    {{ form.desnivel.value }} m<br>

    Vazão:
    {{ form.vazao.value }} L/s<br>

    Quantidade de MCHs: {{ mchs }} <br>

    Quantidade de Potência: {{ potencia }} W <br>

    Concessionária: {{ form.concessionaria.value }}<br>

    E-mail: {{ form.email.value }} <br>

    Modelo: {{ form.modelo.value }}<br>

</table>
</section>

<section>
  <a href="{% url 'index' %}" class='btn btn-info' role="button">Voltar Para o Início</a>
  <a href="https://hidreo.com.br/" class='btn btn-info' role="button">Voltar Para o Site</a>
  <a href="{% url 'basica' %}" class='btn btn-info' role="button">Calcularadora Básica</a>
  <a href="{% url 'avancada' %}" class='btn btn-info' role="button">Calcularadora Avançada</a>
</section>


{% include 'partials/_footer_calculadora.html' %}
{% endblock %}