{% extends "base.html" %}
{% block content %}

{% include 'partials/_menu.html' %}

<section>
<table>
  <div>
    Nome:
    {{ nome.nome }} <br>

    Desnível:
    {{ desnivel.desnivel }} m<br>

    Vazão:
    {{ vazao.vazao }} L/s<br>

    Quantidade de MCHs: {{ mchs.mchs }} <br>

    Quantidade de Potência: {{ potencia.potencia }} W <br>

    Concessionária: {{ concessionaria.concessionaria }}<br>

    E-mail: {{ email.email }} <br>

    Modelo: {{ modelo.modelo }}<br>

    Data da pesquisa: {{ data.data }}<br>

</table>
</section>

<section>
  <a href="{% url 'index' %}" class='btn btn-info' role="button">Voltar Para o Início</a>
  <a href="https://hidreo.com.br/" class='btn btn-info' role="button">Voltar Para o Site</a>
  <a href="{% url 'basica' %}" class='btn btn-info' role="button">Calcularadora Básica</a>
  <a href="{% url 'avancada' %}" class='btn btn-info' role="button">Calcularadora Avançada</a>
</section>


{% include 'partials/_footer.html' %}
{% endblock %}