{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load hosts %}

{% include 'partials/_header_calculadora.html' %}

<section id="hero-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="block wow fadeInUp" data-wow-delay=".3s">
  
            <!-- Slider -->
            <section class="cd-intro">
              <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                <span>SEJA BEM VINDO A CALCULADORA DE POTENCIAL HÍDRICO DA HIDREO ENERGY SOLUTIONS</span><br>
              </h1>
            </section> <!-- cd-intro -->
            <!-- /.slider -->
            <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                <br>
                <br>
              Aqui você simula o quanto de energia você pode gerar com seu rio!<br> 
              Você também pode simular o quanto de economia mensal terá comprando sua MCH.<br>
              Utilize a calculadora básica para uma simulação rápida e mais simples.<br>
              A calculadora avançada ajuda sua simulação a ficar mais próxima da sua geração real!
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>

<section id="works" class="works">
    <div class="container">
      <div class="section-heading">
        <h1 class="title wow fadeInDown" data-wow-delay=".3s">Escolha qual calculadora você quer utilizar</h1>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <figure class="" data-wow-duration="500ms" data-wow-delay="300ms">
            <div class="img-wrapper">
              <figcaption>
                <h4>
                  <a href="{% url 'basica' %}">
                    Básica
                  </a>
                </h4>
                <h5>
                  Dados necessários:<br>&ensp;<br>
                  Vazão<br> Desnível<br>
                  <br>
                </h5>
                <div class="overlay">
                  <div class="buttons">
                    <a rel="gallery" class="fancybox" href="{% url 'basica' %}">BÁSICA</a>
                  </div>
                </div>
              </figcaption>
            </div>
          </figure>
        </div>
        <div class="col-md-6 col-sm-6">
          <figure class="" data-wow-duration="500ms" data-wow-delay="300ms">
            <div class="img-wrapper">
              <figcaption>
                <h4>
                  <a href="{% url 'avancada' %}">
                    Avançada
                  </a>
                </h4>
                <h5>
                  Dados necessários:<br> &ensp;
                  <br>
                  Vazão<br> Desnível<br> Distância Elétrica<br> Distância Hidráulica<br> Modelo<br>Tipo de Cabo Elétrico
                </h5>
              </figcaption>
              <div class="overlay">
                <div class="buttons">
                  <a rel="gallery" class="fancybox" href="{% url 'avancada' %}">AVANÇADA</a>
                </div>
              </div>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </section>

    {% include 'partials/_footer_calculadora.html' %}
{% endblock %}
