{% load static %}
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" href="favicon.ico">
        <title>Timer Agency Template</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'plugins/ionicons/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'plugins/animate-css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'plugins/slider/slider.css' %}">
        <!-- slick slider -->
        <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">
        <!-- Fancybox -->
        <link rel="stylesheet" href="{% static 'plugins/facncybox/jquery.fancybox.css' %}">
        <!-- hover -->
        <link rel="stylesheet" href="{% static 'plugins/hover/hover-min.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>

        {% block content %} {% endblock %}
    
	<!-- Template Javascript Files
	================================================== -->
	<!-- jquery -->
	<script src="{% static 'plugins/jQurey/jquery.min.js' %}"></script>
	<!-- Form Validation -->
    <script src="{% static 'plugins/form-validation/jquery.form.js' %}"></script> 
    <script src="{% static 'plugins/form-validation/jquery.validate.min.js' %}"></script>
	<!-- slick slider -->
	<script src="{% static 'plugins/slick/slick.min.js' %}"></script>
	<!-- bootstrap js -->
	<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
	<!-- wow js -->
	<script src="{% static 'plugins/wow-js/wow.min.js' %}"></script>
	<!-- slider js -->
	<script src="{% static 'plugins/slider/slider.js' %}"></script>
	<!-- Fancybox -->
	<script src="{% static 'plugins/facncybox/jquery.fancybox.js' %}"></script>
	<!-- template main js -->
	<script src="{% static 'js/main.js' %}"></script>
 	</body>
</html>
