<section id="feature">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
            <div class="media-left">
              <img src="{% static 'images/logo-hidreo.png' %}" class="'logo-hidreo" alt="logo-hidreo" width="200">
            </div>
              <a href="https://hidreo.com.br/" type="button" class="btn btn-primary">HOME</a>&nbsp;&nbsp;&nbsp;
              <a href="{% url 'basica' %}" type="button" class="btn btn-primary">CALCULAR NOVAMENTE</a>&nbsp;&nbsp;&nbsp;
              <a href="{% url 'avancada' %}" type="button" class="btn btn-primary">CALCULADORA AVANÇADA</a>&nbsp;&nbsp;&nbsp;
              <a class="btn btn-primary btn-lg" href="https://api.whatsapp.com/send?phone=5541988887278&text=Ol%c3%a1%2c+quero+comprar+uma+MCH+%7c+Micro+Central+Hidrel%c3%a9trica.+Voc%c3%aa+pode+me+ajudar%3f">QUERO COMPRAR</a><br>
          </div>
        </div>
      </div>
    </div>
  </section>